:root {
    --DM-serif-display: 'DM Serif Display', serif; /*headings*/
    --karla: 'Karla', sans-serif; /*everything else*/

    /*primary*/
    --dark-violet: hsl(256, 26%, 20%);
    --grayish-blue: hsl(216, 30%, 68%);

    /*neutral*/
    --very-dark-violet: hsl(270, 9%, 17%);
    --dark-grayish-violet:  hsl(273, 4%, 51%);
    --very-light-gray: hsl(0, 0%, 98%);
}


body {
    font-family: var(--karla);
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    text-align: center;
}

nav {
    margin-top: 30px;
}

h1, h2, h3 {
    font-family: var(--DM-serif-display);
}

h1 {
    margin: 0;
    font-size: 40px;
    padding: 0px 40px;
    font-weight: 400;
}

h2 {
    font-size: 45px;
    color: var(--very-dark-violet);
    font-weight: 400;
    margin-bottom: 70px;
}

h3 {
    color: var(--very-dark-violet);
    font-size: 25px;
    font-weight: 400;
}

p {
    padding: 0px 26px;
    line-height: 1.6rem;
}

ul {
    list-style: none;
    padding: 0;
    text-transform: uppercase;
}

ul a {
    text-decoration: none;
    font-weight: 700;
    color: var(--dark-violet);
}

li {
    margin-bottom: 15px;
}


/*humanizing purple section*/

.humanizing-section {
    background-color: var(--dark-violet);
    color:white;
    padding: 90px 0px 90px 0px;
    margin: -4px;
}

.humanize-info {
    padding: 0px 30px;
    margin-bottom: 40px;
}

.info-button {
    text-decoration: none;
    border: 2px solid white;
    padding: 7px 20px;
    text-transform: uppercase;
}

.humanizing-section a {
    color: white;
}

.line-one {
    margin-top: 140px;
    border: 1px solid var(--dark-grayish-violet);
    width: 35%;
}

/*we're different section*/

.circle-icon {
    margin-bottom: 15px;
}

.feature-text {
    color: var(--dark-violet);
    margin-bottom: 60px;
}

/*find out section*/

.find-out {
    background-color: var(--dark-violet);
    padding: 30px;
    margin: 0px 20px 220px 20px;
}

.find-out h2 {
    color: white;
    font-size: 35px;
    font-weight: 400;
    line-height: 2.3rem;
}

.find-out a {
    color: white;
}

/*links under logo*/

.socials {
    margin: 30px 100px 0px 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.socials .fa-brands {
    color: var(--dark-grayish-violet);
    
}

/*footer links*/

.list-title {
    color: var(--dark-grayish-violet);
    font-weight: 700;
    margin: 35px 0px 35px 0px;
}

.attribution {
	font-size: 13px;
	text-align: center;
    margin: 40px;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

.fa-brands {
    color: var(--dark-violet);
    font-size: 30px;
    margin-bottom: 30px;
}
